@import "../../styles/unitConverter.scss";

.control-container {
    position: absolute;
    flex-shrink: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    max-height: none;

    @media (min-width: 1104px) {
        position: relative;
        width: fit-content;
        height: 100vh;
        max-height: pxToRem(376);
    }
}

.section {
    display: flex;
    gap: normal;
    flex-direction: column;
    align-items: normal;
    margin-left: 0;
    width: 100%;
    max-width: pxToRem(1275);

    @media (min-width: 1104px) {
        gap: pxToRem(55);
        flex-direction: row;
        align-items: center;
        margin-left: auto;
    }
}

.section-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.swiper-container {
    margin-left: 0;
    width: 100%;
    max-width: pxToRem(1115);

    @media (min-width: 1104px) {
        margin-left: auto;
    }

    .swiper-container-swiper {
        width: 100%;
    }

    .swiper-container-swiper-slide {
        height: auto;
    }
}

.technology-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: pxToRem(80);
    padding-left: pxToRem(0);

    @media (min-width: 571.5px) {
        padding-top: pxToRem(40);
        padding-bottom: pxToRem(100);
    }

    @media (min-width: 1104px) {
        padding-top: pxToRem(36);
        padding-left: pxToRem(55);
    }
}

.control-container__decoration {
    display: flex;
    margin-bottom: pxToRem(34);
    aspect-ratio: 375 / 170;
    width: 100%;

    @media (min-width: 571.5px) {
        margin-bottom: pxToRem(56);
        aspect-ratio: 768 / 310;
    }

    @media (min-width: 1104px) {
        display: none;
    }
}

.control-container__swiper {
    width: 100%;
    height: 100%;

    .control-container-swiper {
        padding-right: pxToRem(24);
        padding-left: pxToRem(24);
        width: 100%;
        height: 100%;

        @media (min-width: 571.5px) {
            padding-right: pxToRem(40);
            padding-left: pxToRem(40);
        }

        @media (min-width: 1104px) {
            padding-right: 0;
            padding-left: 0;
        }
    }

    .control-container-swiper-slide {
        width: auto;
        height: pxToRem(40);

        @media (min-width: 571.5px) {
            width: auto;
            height: pxToRem(60);
        }

        @media (min-width: 1104px) {
            width: auto;
            height: pxToRem(80);
        }
    }
}

.technology-content__heading {
    display: flex;
    gap: pxToRem(16);
    align-items: center;
    justify-content: center;
    margin-bottom: pxToRem(32);
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    max-width: pxToRem(1275);

    @media (min-width: 571.5px) {
        justify-content: flex-start;
        margin-bottom: pxToRem(60);
        padding-left: pxToRem(40);
    }

    @media (min-width: 1104px) {
        gap: pxToRem(24);
        margin-bottom: pxToRem(26);
        margin-left: auto;
        padding-left: 0;
    }
}

.technology-content__heading--normal {
    color: #FFFFFF;
    font-weight: 400;
}

.technology-content__heading--strong {
    color: #FFFFFF40;
    font-weight: 700;
}