@import "../../styles/unitConverter.scss";

.nav-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.nav-link__link {
    text-decoration: none;
    pointer-events: all;
    width: fit-content;
    height: fit-content;
}

.nav-text {
    color: #FFFFFF;
    display: flex;
    gap: pxToRem(12);
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-right-color: transparent;
        border-right-style: solid;
        border-right-width: pxToRem(4);
        box-sizing: border-box;
        transition-duration: 0.2s;
        transition-property: border-right-color, border-bottom-color;
        transition-timing-function: ease-in-out;
        pointer-events: none;
        width: 100%;
        height: 100%;

        @media (min-width: 571.5px) {
            border-right-width: 0;
            border-bottom-color: transparent;
            border-bottom-style: solid;
            border-bottom-width: pxToRem(3);
        }
    }

    &:hover {
        &::before {
            border-right-color: #FFFFFF80;

            @media (min-width: 571.5px) {
                border-bottom-color: #FFFFFF80;
            }
        }
    }
}

.nav-text--active {
    &::before {
        border-right-color: #FFFFFF;

        @media (min-width: 571.5px) {
            border-bottom-color: #FFFFFF;
        }
    }

    &:hover {
        &::before {
            border-right-color: #FFFFFF;

            @media (min-width: 571.5px) {
                border-bottom-color: #FFFFFF;
            }
        }
    }
}

.nav-text--normal {
    font-weight: 400;
}

.nav-text--strong {
    display: none;
    font-weight: 700;

    @media (min-width: 1104px) {
        display: flex;
    }
}