* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    scrollbar-color: #D0D6F9 #0B0D17;
    scrollbar-width: auto;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background-color: #0B0D17;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #D0D6F9;
        border-radius: 100px;
        border: 0px none #FFFFFF;
    }
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

html {
    @media (max-width: 375px) {
        font-size: 4.2666vw;
    }
}