@import "../../styles/unitConverter.scss";

.drawer-header {
    display: flex;
    justify-content: flex-end;
    padding: pxToRem(28);
    padding-right: pxToRem(24);
}

.drawer-header-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: pxToRem(4);
    transition-duration: 0.2s;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    width: pxToRem(32);
    height: pxToRem(32);

    &:hover {
        background-color: #FFFFFF40;
    }
}

.hamburger-button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: pxToRem(4);
    transition-duration: 0.2s;
    transition-property: background-color;
    transition-timing-function: 0.2s;
    width: pxToRem(32);
    height: pxToRem(32);

    &:hover {
        background-color: #FFFFFF40;
    }
}

.header-mobile {
    align-items: center;
    justify-content: space-between;
    padding: pxToRem(24);
}

.nav {
    display: flex;
    gap: pxToRem(18);
    flex-direction: column;
    margin-top: pxToRem(24);
    padding-left: pxToRem(32);
}

.drawer-header-button__image {
    object-fit: cover;
    position: relative;
    width: pxToRem(20);
    height: pxToRem(20);
}

.hamburger-button__image {
    object-fit: cover;
    position: relative;
    width: pxToRem(24);
    height: pxToRem(21);
}

.header-mobile__logo {
    object-fit: cover;
    position: relative;
    width: pxToRem(40);
    height: pxToRem(40);
}

.nav__link {
    justify-content: flex-start;
    padding-top: pxToRem(6);
    padding-bottom: pxToRem(6);
}