@import "../../styles/unitConverter.scss";

.destination {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 0;
    padding-right: pxToRem(24);
    padding-bottom: pxToRem(58);
    padding-left: pxToRem(24);
    width: 100%;

    @media (min-width: 571.5px) {
        padding-top: pxToRem(40);
        padding-right: pxToRem(40);
        padding-bottom: pxToRem(62);
        padding-left: pxToRem(40);
    }

    @media (min-width: 1104px) {
        padding-top: pxToRem(36);
        padding-right: pxToRem(55);
        padding-bottom: pxToRem(112);
        padding-left: pxToRem(55);
    }
}

.section {
    width: 100%;
}

.section-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    width: 100%;

    .swiper {
        width: 100%;
    }

    .swiper-slide {
        width: 100%;
    }
}

.swiper-container {
    opacity: 0;
    margin-right: auto;
    margin-left: auto;
    transition-duration: 1.5s;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    width: 100%;
    max-width: pxToRem(1110);
}

.destination__heading {
    display: flex;
    gap: pxToRem(16);
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-bottom: pxToRem(32);
    margin-left: auto;
    width: 100%;
    max-width: pxToRem(1110);

    @media (min-width: 571.5px) {
        gap: pxToRem(20);
        justify-content: flex-start;
        margin-bottom: pxToRem(60);
    }

    @media (min-width: 1104px) {
        gap: pxToRem(28);
        margin-bottom: pxToRem(64);
    }
}

.destination__heading--normal {
    color: #FFFFFF;
    font-weight: 400;
}

.destination__heading--strong {
    color: #FFFFFF40;
    font-weight: 700;
}

.swiper-container--show {
    opacity: 1;
}